<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>urunler</h1>
    <ul>
      <% urunler.forEach(urun => { %> <% if (urun.price > 8000 && urun.isActive)
      { %>

      <li><h2>
        <%= urun.name %> <%= urun.price %>
        </h2>
        </li>

      <% } %> <% }) %>
    </ul>
  </body>
</html>
